<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap rescap">
  $10.0.10.5" />
  <mp:PhoneIdentity PhoneProductId="38a104a5-5b55-43e8-85b3-740bbfd2c4ed" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Rebound.UserAccountControlSettings</DisplayName>
    <PublisherDisplayName>Desktop Ivirius</PublisherDisplayName>
    <Logo>Assets\Package\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="windows.fullTrustApplication">
      <uap:VisualElements DisplayName="Rebound User Account Control Settings" Description="Rebound User Account Control Settings" BackgroundColor="transparent" Square150x150Logo="Assets\Package\Square150x150Logo.png" Square44x44Logo="Assets\Package\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Package\Wide310x150Logo.png" Square71x71Logo="Assets\Package\SmallTile.png" Square310x310Logo="Assets\Package\LargeTile.png" />
        <uap:SplashScreen Image="Assets\Package\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>