<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="0b347e39-1da3-4fc7-80c2-dbf3603118f3"
    Publisher="CN=Ivirius"
    Version="1.0.4.0" />

  <mp:PhoneIdentity PhoneProductId="0b347e39-1da3-4fc7-80c2-dbf3603118f3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ReboundTpm</DisplayName>
    <PublisherDisplayName>JPJM-</PublisherDisplayName>
    <Logo>Assets\Store\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Rebound Tpm"
        Description="ReboundTpm - Manager Modern"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Store\Square150x150Logo.png"
        Square44x44Logo="Assets\Store\Square44x44Logo.png"
			  AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png"  Square71x71Logo="Assets\Store\SmallTile.png" Square310x310Logo="Assets\Store\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\Store\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <!-- Restricted capability for TPM access via enterprise authentication -->
    <rescap:Capability Name="enterpriseAuthentication" />
    <rescap:Capability Name="allowElevation" />
    <!-- Run full trust capability -->
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
