<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" xmlns:uap8="http://schemas.microsoft.com/appx/manifest/uap/windows10/8" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap uap3 uap5 mp desktop rescap">
  <Identity Name="Rebound.About" Publisher="CN=Ivirius Community" Version="0.0.10.5" />
  <mp:PhoneIdentity PhoneProductId="039b9731-7b33-49de-bb09-5b81d5978d1c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Rebound About</DisplayName>
    <PublisherDisplayName>Ivirius Community</PublisherDisplayName>
    <Logo>Assets\Package\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="windows.fullTrustApplication">
      <uap:VisualElements DisplayName="Rebound About" Description="Rebound About" BackgroundColor="transparent" Square150x150Logo="Assets\Package\Square150x150Logo.png" Square44x44Logo="Assets\Package\Square44x44Logo.png">
        <!--AppListEntry="none">-->
        <uap:DefaultTile Wide310x150Logo="Assets\Package\Wide310x150Logo.png" Square71x71Logo="Assets\Package\SmallTile.png" Square310x310Logo="Assets\Package\LargeTile.png" />
        <uap:SplashScreen Image="Assets\Package\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="allowFullTrust" />
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="allowElevation" />
    <rescap:Capability Name="unvirtualizedResources" />
    <rescap:Capability Name="packageManagement" />
    <uap:Capability Name="removableStorage" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>