<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="Rebound.Control"
    Publisher="CN=Ivirius Community"
    Version="0.0.3.0" />

  <mp:PhoneIdentity PhoneProductId="3afd38c0-ba86-4380-8ed8-ef4c42ba7940" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Rebound Control Panel</DisplayName>
    <PublisherDisplayName>Ivirius Community</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Control Panel"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" Description="Manage system settings and configuration with ease.">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
	  <rescap:Capability Name="runFullTrust" />
	  <rescap:Capability Name="broadFileSystemAccess" />
	  <rescap:Capability Name="allowElevation" />
	  <!--
            The unvirtualizedResources capability is used to support file operations in the AppData directory.
        -->
	  <rescap:Capability Name="unvirtualizedResources" />
	  <!--
            The packageManagement capability is used to download updates in the sideload version of Files.
            We only use this capability in the sideload version and remove it when compiling the store vesion in Azure DevOps.
        -->
	  <rescap:Capability Name="packageManagement" />
	  <uap:Capability Name="removableStorage" />
	  <Capability Name="internetClient" />
  </Capabilities>
</Package>
